body {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

#mobile-nav {
	position: fixed;
	background-color: #000;
	width: 100%;
	transform: translateY(-200px);
	transition: transform 300ms;
	z-index: 999;
}

#mobile-nav ul {
	text-decoration: none;
	padding: 0 17px;
}

#mobile-nav li {
	margin: 30px 0;
}

#mobile-nav a {
	color: #fff;
	text-decoration: none;
	transition: color 150ms ease;
}

#mobile-nav a:hover,
#mobile-nav a:focus {
	color: #2C82C9;
}

.mobile-open {
	transform: translateY(50px) !important;
}

.navbar {
  height: 50px;
	background-color: #000;
  transition: background-color 0.7s ease;
}

.scrolled {
  background-color: #000 !important;
}

.navbar-collapse {
  border-top: 0px;
  -webkit-box-shadow: 0px;
  box-shadow: none;
}

.navbar .navbar-brand {
  font-family: Raleway;
  color: #fff;
  font-size: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff;
}

.navbar-nav {
  margin-top: 0;
}

.navbar-nav a {
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  color: #fff;
  transition: color 200ms ease;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
  color: #2C82C9;
	text-decoration: none;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: transparent;
}

.navbar-toggler {
  border: 0px;
	padding: 10px 0;
	margin-top: -4px;
}

.hamburger,
.hamburger1,
.hamburger2 {
	display: block;
  background-color: #fff;
  height: 2px;
  width: 30px;
  border-radius: 3px;
  transition: all ease-in-out 300ms;

}

.hamburger {
	transform: translateY(-6px);
}

.hamburger2 {
	transform: translateY(6px);
}

.open {
	opacity: 0;
}

.open1 {
  transform: rotate(45deg)
}

.open2 {
  transform: rotate(-45deg);
	margin-top: -2px;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  background-image: url(images/rmhero2.png);
  background-size: cover;
  background-position: right;
  color: #fff;
  font-family: 'Montserrat';
	text-align: center;
}

.hero {
	margin-top: 300px;
}

.hero__title {
  font-family: 'Rock Salt';
  font-size: 60px;
	margin-bottom: 30px;
}

.hero__text {
  font-family: 'Montserrat';
	font-weight: 400;
  font-size: 18px;
	margin-top: 40px;
	background-color: #000;
}

#about {
	margin: 0;
}

.about-text {
	padding: 50px 0;
  background-color: #fefefe;
  color: #222;
  text-align: center;
}

.about-text__header {
  font-family: 'Montserrat';
  font-size: 20px;
  color: #3a3a3a;
  margin: 0;
}

.about-text__text {
  font-family: 'Source Sans Pro';
  font-size: 18px;
	margin-top: 20px;
}

.about-img {
	background-image: url('images/live4.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 650px;
}

#gigs {
  background-color: #3E4651;
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

#bookings {
  padding: 50px 0 75px 0;
  background: #fff;
  text-align: center;
  color: #000;
}

.bookings-img {
  width: 200px;
  height: 200px;
  opacity: 0.8;
  margin-bottom: 50px;
}

.title {
  font-family: 'Montserrat';
  color: #5a5a5a;
  margin-bottom: 50px;
}

.bit-track-button-container, .bit-offers-container, .bit-upcoming-events-show-all-button {
  display: none;
}

.bit-widget.bit-layout-ipad .bit-event-list-title.bit-clickable {
  text-decoration: none !important;
}

.bit-widget .bit-event .bit-rsvp {
  background: #3498DB;
  color: #fff;
  border-radius: 0;
  transition: background 250ms ease, color 250ms ease;
}

.bit-widget .bit-event .bit-rsvp:hover {
  background-color: #fff;
  color: #3498DB;
}

.bit-past-events-show-all-button {
  background: #3498DB !important;
  color: #fff !important;
  transition: background 250ms ease, color 250ms ease;
}

.bit-past-events-show-all-button:hover {
  background: #fff !important;
  color: #3498DB !important;
}

.btn-enquiry {
  background: #3498DB;
  color: #fff;
  border-radius: 0px;
  font-size: 14px;
  padding: 15px 25px 15px 25px;
  margin-top: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-enquiry:hover,
.btn-enquiry:focus {
  background: #fff;
  color: #3498DB;
  border: 1px solid #3498DB;
}

.btn-more {
  background: #3498DB;
  color: #fff;
  border-radius: 0;
  font-size: 14px;
  padding: 15px 60px 15px 60px;
  margin-top: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-more:hover,
.btn-more:focus {
  background: #fff;
  color: #3498DB;
}

.btn-submit {
  background: #3498DB;
  color: #fff;
  border-radius: 0;
  font-size: 14px;
  padding: 15px 60px 15px 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-submit:hover,
.btn-submit:focus {
  background: #22313F;
  color: #fff;
}

.form {
  color: #000;
}

.form-control {
  padding: 15px 15px;
  height: 60px;
  border: 1px solid #c3c3c3;
  border-radius: 0;
	margin-bottom: 25px;
}

textarea {
  height: 160px !important;
	resize: none;
}

@media screen and (min-width: 575px) {
	.about-img {
		min-height: 400px;
	}
}

@media screen and (min-width: 767px) {
  .navbar {
		background-color: transparent;
	}

  #header {
		text-align: left;
  }

	.hero {
		margin-top: 0;
	}

	.hero__text {
		background-color: transparent;
	}
}
